{% extends 'cms/base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h3 class="header smaller lighter green">Глобальные действия</h3>
            <p></p>
            <a href="#" class="btn btn-success btn-app radius-4 add-root">
                <i class="ace-icon fa fa-plus bigger-230"></i>
                Добавить
            </a>
        </div>
    </div>
    <div class="row">
    <div class="col-sm-6">
        <div class="dd dd-draghandle" id="nestable">
            <ol class="dd-list">
                {% for root in tree %}
                    <li class="dd-item dd2-item" data-id="{{ root.pk }}">
                        <div class="dd-handle dd2-handle">
                            <i class="normal-icon ace-icon fa fa-arrows bigger-130"></i>
                            <i class="drag-icon ace-icon blue fa fa-arrows bigger-125"></i>
                        </div>
                        <div class="dd2-content">
                            {{ root.title }}
                            <div class="pull-right action-buttons">
                                <a class="blue edit-cat-btn" href="#" data-id="{{ root.pk }}">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="green add-subcat-btn" href="#" data-id="{{ root.pk }}">
                                    <i class="ace-icon fa fa-plus-circle bigger-130"></i>
                                </a>
                            </div>
                        </div>
                        {% if root.child %}
                            <ol class="dd-list">
                                {% for child in root.child %}
                                    <li class="dd-item dd2-item" data-id="{{ child.pk }}">
                                        <div class="dd-handle dd2-handle">
                                            <i class="normal-icon ace-icon fa fa-arrows bigger-130"></i>
                                            <i class="drag-icon ace-icon blue fa fa-arrows bigger-125"></i>
                                        </div>
                                        <div class="dd2-content">
                                            {{ child.title }}
                                            <div class="pull-right action-buttons">
                                                <a class="blue edit-cat-btn" href="#" data-id="{{ child.pk }}">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ol>
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <!-- inline scripts related to this page -->
{% endblock %}
{% block exta_files %}
    <script type="text/javascript" src="{% static "cms/assets/js/jquery.nestable.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/js/catalog.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/assets/js/bootbox.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/assets/js/ace-elements.min.js" %}"></script>
{% endblock %}