{% load static from staticfiles %}
<div class="top-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="jtv-banner1"><a href="#"><img src="{% static "images/banner1.jpg" %}" alt=""></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title"> Футбольный </div>
                <div class="desc-text">диван</div>
                <div class="shop-now"><a href="#">Купить</a></div>
              </div>
            </div>
          </div>
          <div class="jtv-banner2"><a href="#"><img src="{% static "images/banner2.jpg"%}" alt=""></a>
            <div class="hover_content">
              <div class="hover_data">
                <div class="title"> Сливаем</div>
                <div class="desc-text"> 35% на все! </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="jtv-banner3">
            <div class="jtv-banner3-inner"><a href="#"><img src="{% static "images/banner3.jpg"%}" alt=""></a>
              <div class="hover_content">
                <div class="hover_data">
                  <div class="title"> Перемены </div>
                  <div class="desc-text"> будь в тренде</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>