{% load static from staticfiles %}
<div class="col-md-3 col-xs-9 col-sm-2 top-cart">
    <div class="top-cart-contain">
        <div class="mini-cart">
            <div data-toggle="dropdown" data-hover="dropdown" class="basket dropdown-toggle"><a href="#">
                <div class="cart-icon"><i class="fa fa-shopping-cart"></i></div>
                <div class="shoppingcart-inner hidden-xs hidden-sm"><span class="cart-title">Корзина</span> <span
                        class="cart-total">4 товара: $520.00</span></div>
            </a></div>
            <div>
                <div class="top-cart-content">
                    <div class="block-subtitle hidden-xs">Последние добавленные</div>
                    <ul id="cart-sidebar" class="mini-products-list">
                        <li class="item odd"><a href="shopping_cart.html" title="Ipsums Dolors Untra"
                                                class="product-image"><img
                                src="{% static "images/products/img01.jpg" %}" alt="Lorem ipsum dolor" width="65"></a>
                            <div class="product-details"><a href="#" title="Remove This Item" class="remove-cart"><i
                                    class="icon-close"></i></a>
                                <p class="product-name"><a href="shopping_cart.html">Lorem ipsum dolor sit amet
                                    Consectetur</a></p>
                                <strong>1</strong> x <span class="price">$20.00</span></div>
                        </li>
                        <li class="item even"><a href="shopping_cart.html" title="Ipsums Dolors Untra"
                                                 class="product-image"><img
                                src="{% static "images/products/img01.jpg" %}" alt="Lorem ipsum dolor" width="65"></a>
                            <div class="product-details"><a href="#" title="Remove This Item" class="remove-cart"><i
                                    class="icon-close"></i></a>
                                <p class="product-name"><a href="shopping_cart.html">Consectetur utes anet adipisicing
                                    elit</a></p>
                                <strong>1</strong> x <span class="price">$230.00</span></div>
                        </li>
                        <li class="item last odd"><a href="shopping_cart.html" title="Ipsums Dolors Untra"
                                                     class="product-image"><img
                                src="{% static "images/products/img01.jpg" %}" alt="Lorem ipsum dolor" width="65"></a>
                            <div class="product-details"><a href="#" title="Remove This Item" class="remove-cart"><i
                                    class="icon-close"></i></a>
                                <p class="product-name"><a href="shopping_cart.html">Sed do eiusmod tempor incidist</a>
                                </p>
                                <strong>2</strong> x <span class="price">$420.00</span></div>
                        </li>
                    </ul>
{#                    <div class="top-subtotal">Всего на сумму: <span class="price">$520.00</span></div>#}
                    <div class="actions">
                        <button class="btn-checkout" type="button"><i class="fa fa-check"></i><span>Оформить</span>
                        </button>
                        <button class="view-cart" type="button"><i class="fa fa-shopping-cart"></i>
                            <span>В корзину</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>