{% load static from staticfiles %}
<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-4 hidden-xs">
                <!-- Default Welcome Message -->
                <div class="welcome-msg ">Минислоган или добро пожаловать</div>
            </div>

            <!-- top links -->
            <div class="headerlinkmenu col-lg-8 col-md-7 col-sm-8 col-xs-12">
                <div class="links">
                    <div class="myaccount"><a title="Личный кабинет" href="account_page.html"><i
                            class="fa fa-user"></i><span class="hidden-xs">Личный кабинет</span></a></div>
                    <div class="wishlist"><a title="Список желаний" href="wishlist.html"><i class="fa fa-heart"></i><span
                            class="hidden-xs">Избранное</span></a></div>
                    <div class="login"><a href="account_page.html"><i class="fa fa-unlock-alt"></i><span
                            class="hidden-xs">Вход</span></a></div>
                </div>
{#                <div class="language-currency-wrapper">#}
{#                    <div class="inner-cl">#}
{#                        <div class="block block-language form-language">#}
{#                            <div class="lg-cur"><span> <img src="{% static "images/flag-default.jpg" %}"#}
{#                                                            alt="French"> <span class="lg-fr">French</span> <i#}
{#                                    class="fa fa-angle-down"></i> </span></div>#}
{#                            <ul>#}
{#                                <li><a class="selected" href="#"> <img src="{% static "images/flag-english.jpg" %}"#}
{#                                                                       alt="flag"> <span>English</span> </a></li>#}
{#                                <li><a href="#"> <img src="{% static "images/flag-default.jpg" %}" alt="flag"> <span>French</span>#}
{#                                </a></li>#}
{#                                <li><a href="#"> <img src="{% static "images/flag-german.jpg" %}" alt="flag"> <span>German</span>#}
{#                                </a></li>#}
{#                                <li><a href="#"> <img src="{% static "images/flag-brazil.jpg" %}" alt="flag"> <span>Brazil</span>#}
{#                                </a></li>#}
{#                                <li><a href="#"> <img src="{% static "images/flag-chile.jpg" %}" alt="flag">#}
{#                                    <span>Chile</span> </a></li>#}
{#                                <li><a href="#"> <img src="{% static "images/flag-spain.jpg" %}" alt="flag">#}
{#                                    <span>Spain</span> </a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="block block-currency">#}
{#                            <div class="item-cur"><span>USD </span> <i class="fa fa-angle-down"></i></div>#}
{#                            <ul>#}
{#                                <li><a href="#"><span class="cur_icon">€</span> EUR</a></li>#}
{#                                <li><a href="#"><span class="cur_icon">¥</span> JPY</a></li>#}
{#                                <li><a class="selected" href="#"><span class="cur_icon">$</span> USD</a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <!-- End Default Welcome Message -->#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>