{% extends 'cms/base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="table-responsive">
        <form method="post" id="productForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="titleField">Название</label>
                <input type="text" class="form-control" id="titleField" name="title" required
                       value="{{ product.title }}">
                <div class="invalid-feedback" id="feed_title"></div>
            </div>
            <div class="form-group">
                <label for="codeField">Артикул</label>
                <input type="text" class="form-control" id="codeField" name="code" required value="{{ product.code }}">
                <div class="invalid-feedback" id="feed_code"></div>
            </div>
            <div class="form-group">
                <label for="productTypeField">Бренд товара</label>
                <select class="form-control" id="productBrandField" name="product_brand" required>
                    <option value="" hidden>--------</option>
                    {% for pbrand in product_brand_list %}
                        <option value="{{ pbrand.pk }}"
                                {% if product.brand.pk == pbrand.pk %}selected{% endif %}>{{ pbrand.title }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" id="feed_product_brand"></div>
            </div>
            <div class="form-group">
                <label for="catalogField">Каталог</label>
                <select class="form-control" id="catalogField" name="catalog" required>
                    <option value="" hidden>--------</option>
                    {% for element in catalogs %}
                        <option value="{{ element.pk }}"
                                {% if catalog == element.pk %}selected{% endif %}>{{ element }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" id="feed_catalog"></div>
            </div>
            <div class="form-group">
                <label for="productTypeField">Вид товара</label>
                <select class="form-control" id="productTypeField" name="product_class" required>
                    <option value="" hidden>--------</option>
                    {% for pclass in product_class_list %}
                        <option value="{{ pclass.pk }}"
                                {% if product.product_class.pk == pclass.pk %}selected{% endif %}>{{ pclass.title }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback" id="feed_product_class"></div>
            </div>
            <div class="form-group">
                <label for="descriptionField">Описание</label>
                <textarea class="form-control" id="descriptionField" rows="3"
                          name="description">{{ product.description }}</textarea>
                <div class="invalid-feedback" id="feed_description"></div>
            </div>
            <div class="form-group">
                <label for="titlePrice">Цена</label>
                <input type="text" class="form-control" id="titlePrice" name="price" required
                       value="{{ product.price|floatformat:2 }}">
                <div class="invalid-feedback" id="feed_price"></div>
            </div>
            <div class="form-group">
                <div>
                    <ul class="ace-thumbnails clearfix">
                        {% for image in product.productimage_set.all %}
                            <li>
                                <a href="{{ image.x600.url }}" data-rel="colorbox">
                                    <img width="220" height="220" alt="220x220" src="{{ image.thumbnail.url }}"/>
                                </a>
                                <div class="tools">
                                    <a href="{{ image.full.url }}" target="_blank">
                                        <i class="ace-icon fa fa-link"></i>
                                    </a>
                                    <a href="#">
                                        <i class="ace-icon fa fa-times red"></i>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <div id="dropzone" class="dropzone well dz-clickable"></div>
            </div>
            <div class="form-group">
                <div class="fallback">
                    <input name="images" type="file" multiple/>
                </div>
            </div>
            <div id="preview-template" class="hide">
                <div class="dz-preview dz-file-preview">
                    <div class="dz-image">
                        <img data-dz-thumbnail=""/>
                    </div>

                    <div class="dz-details">
                        <div class="dz-size">
                            <span data-dz-size=""></span>
                        </div>

                        <div class="dz-filename">
                            <span data-dz-name=""></span>
                        </div>
                    </div>

                    <div class="dz-progress">
                        <span class="dz-upload" data-dz-uploadprogress=""></span>
                    </div>

                    <div class="dz-error-message">
                        <span data-dz-errormessage=""></span>
                    </div>

                    <div class="dz-success-mark">
											<span class="fa-stack fa-lg bigger-150">
												<i class="fa fa-circle fa-stack-2x white"></i>

												<i class="fa fa-check fa-stack-1x fa-inverse green"></i>
											</span>
                    </div>

                    <div class="dz-error-mark">
											<span class="fa-stack fa-lg bigger-150">
												<i class="fa fa-circle fa-stack-2x white"></i>

												<i class="fa fa-remove fa-stack-1x fa-inverse red"></i>
											</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="button" id="submit" onclick="submitProduct()">СОХРАНИТЬ</button>
            </div>
        </form>
    </div>

    <script>
        function submitProduct() {
            var data_items = new FormData($('#productForm')[0]);
            data_items.delete('images');
            if (window.File && window.FileList && window.FileReader) {
                {
                    try {
                        var files = myDropzone.getAcceptedFiles();
                        $.each(files, function (index, value) {
                            data_items.append('images', value);
                        });
                    } catch (e) {

                    }
                }
            }
            $.ajax({
                type: 'POST',
                url: '{% if product.pk %}{% url 'cms.product.edit' product_id=product.pk %}{% else %}{% url 'cms.product.add' %}{% endif %}',
                beforeSend: function () {
                    bootbox.dialog({
                    title: "Process...",
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
                    });
                },
                data: data_items,
                processData: false,
                contentType: false,
                dataType: 'json',
                statusCode: {
                    400: function (msg) {
                        msg = msg.responseJSON;
                        if (msg.errors) {
                            $.each(msg.errors, function (key, value) {
                                $('[name="' + key + '"]').addClass('is-invalid');
                                $('#feed_' + key).text(value);
                            });
                        }
                    },
                    202: function (msg) {
                        console.debug(msg);
                    },
                    200: function (msg) {
                        {% if product.pk %} window.location.reload(){% else %}window.location = '{% url 'cms.product.list' %}'{% endif %};
                    },
                    500: function (msg) {
                        console.debug(msg);
                    }
                }
            });
        }
    </script>
    <link rel="stylesheet" href="{% static "cms/assets/css/dropzone.min.css" %}"/>
{% endblock %}
{% block exta_files %}
    <link rel="stylesheet" href="{% static "cms/assets/css/colorbox.min.css" %}"/>
    <script src="{% static "cms/assets/js/dropzone.min.js" %}"></script>
    <script src="{% static "cms/assets/js/jquery.colorbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/assets/js/bootbox.js" %}"></script>
    <script type="text/javascript" src="{% static "cms/js/product.js" %}"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all" rel="stylesheet" />

    <link href="{%  static "froala_editor/css/froala_editor.min.css" %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{%  static "froala_editor/css/froala_style.min.css" %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{%  static "froala_editor/css/plugins/colors.min.css" %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{%  static "froala_editor/css/plugins/line_breaker.min.css" %}" type="text/css" media="all" rel="stylesheet" />

    <script type="text/javascript" src="{%  static "froala_editor/js/froala_editor.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/colors.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/align.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/font_size.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/line_breaker.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/lists.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/paragraph_format.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/paragraph_style.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/table.min.js" %}"></script>
    <script type="text/javascript" src="{%  static "froala_editor/js/plugins/word_paste.min.js" %}"></script>
    <script> $(function() { $('#descriptionField').froalaEditor() }); </script>
{% endblock %}