{% load static from staticfiles %}
{% load menu %}
<!DOCTYPE html>
<html class="no-js" lang="ru">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Solome shop</title>
    <meta name="description" content="">
    <meta name="keywords" content=""/>

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'head-css.html' %}

</head>
<body class="cms-index-index cms-home-page">
<!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{% include 'mobile-menu.html' %}
<div id="page">
    {% include 'header.html' %}
    {% include 'menu.html' %}
    {% block content %}{% endblock %}
    {% include "footer.html" %}
    <a href="#" class="totop"><i class="fa fa-arrow-up"></i></a>
</div>
{% include "end-page.html" %}
</body>

</html>