{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <!-- Start Our ShopSide Area -->
    <section class="htc__shop__sidebar bg__white ptb--120">
        <div class="container">
            <div class="row">
                <div class="product__list another-product-style">
                    {% for node in nodes %}
                    <!-- Start Single Catalog Node -->
                    <div class="col-md-4 single__pro col-lg-4 cat--1 col-sm-6 col-xs-12">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/catalog/{{ node.code }}">
                                        {% with node.catalogimage_set.all as images %}
                                            {% if images|length > 0 %}
                                                <img src="{{ node.catalogimage_set.all.0.thumbnail.url}}" alt="{{ node.title }}">
                                            {% else %}
                                                <img src="{% static "images/product/1.png" %}" alt="{{ node.title }}">
                                            {% endif %}
                                        {%  endwith %}
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li>{{ node.title }}</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="/catalog/{{ node.code }}">{{ node.title }}</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Catalog Node -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Our ShopSide Area -->
{% endblock %}