{% load static from staticfiles %}
<!-- Footer -->

  <footer>

    <!-- our clients Slider -->
    <div class="our-clients">
      <div class="container">
        <div class="col-md-12">
          <div class="slider-items-products">
            <div id="our-clients-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col6">

                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand1.png" %}" alt="Image"></a> </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand2.png" %}" alt="Image"></a> </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand3.png" %}" alt="Image"></a> </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand4.png" %}" alt="Image"></a> </div>
                <!-- End Item -->
                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand5.png" %}" alt="Image"></a> </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand6.png" %}" alt="Image"></a> </div>
                <!-- End Item -->

                <!-- Item -->
                <div class="item"> <a href="#"><img src="{% static "images/brand7.png" %}" alt="Image"></a> </div>
                <!-- End Item -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Помощь<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
            <div class="tabBlock" id="TabBlock-1">
              <ul class="list-links list-unstyled">
                <li><a href="#s">Доставка</a></li>
                <li><a href="#s">Оплата</a></li>
                <li><a href="#">Система лояльности</a></li>
                <li><a href="#">Политика конфиденциальности</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 col-lg-2 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">О компании<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
            <div class="tabBlock" id="TabBlock-3">
              <ul class="list-links list-unstyled">
                <li> <a href="about_us.html">О компании</a> </li>
                <li> <a href="contact_us.html">Контакты</a> </li>
                <li> <a href="#">Вакансии</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 col-lg-2 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Услуги<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
            <div class="tabBlock" id="TabBlock-4">
              <ul class="list-links list-unstyled">
                <li> <a href="#">Возврат товара</a> </li>
                <li> <a href="#">Гарантийные обязательства</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-xs-12 col-lg-3">
          <h3 class="links-title">Для связи</h3>
          <p>Если у вас возникли вопросы свяжитесь с нами одним из способов.</p>
          <div class="footer-content">
            <div class="email"> <i class="fa fa-envelope"></i>
              <p><a href="mailto:support@template.com">support@shop.com</a></p>
            </div>
            <div class="phone"> <i class="fa fa-phone"></i>
              <p>(800) 0123 456 789</p>
            </div>
            <div class="address"> <i class="fa fa-map-marker"></i>
              <p>ООО "Соломи", Москва, Кораблестроителей 12/34</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3">
          <div class="footer-links">
            <div class="footer-newsletter">
              <h3 class="links-title">Подписаться на рассылку</h3>
              <form id="newsletter-validate-detail" method="post" action="#">
                <div class="newsletter-inner">
                  <input class="newsletter-email" name='Email' placeholder='Enter Your Email'/>
                  <button class="button subscribe" type="submit" title="Subscribe">Оформить подписку</button>
                </div>
              </form>
            </div>
{#            <div class="social">#}
{#              <ul class="inline-mode">#}
{#                <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a></li>#}
{#                <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#                <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a></li>#}
{#                <li class="social-network linkedin"><a title="Connect us on Linkedin" target="_blank" href="#"><i class="fa fa-linkedin"></i></a></li>#}
{#                <li class="social-network rss"><a title="Connect us on RSS" target="_blank" href="#"><i class="fa fa-rss"></i></a></li>#}
{#              </ul>#}
{#            </div>#}
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12 coppyright"> Copyright © 2018 <a href="#"> Solome </a>. All Rights Reserved. Developed by <a href="#">IMA</a>. Desing by <a href="#">HtmlModern</a></div>
          <div class="col-sm-6 col-xs-12">
            <div class="payment">
              <ul>
                <li><a href="#"><img title="Visa" alt="Visa" src="{% static "images/visa.png" %}"></a></li>
                <li><a href="#"><img title="Paypal" alt="Paypal" src="{% static "images/paypal.png" %}"></a></li>
                <li><a href="#"><img title="Discover" alt="Discover" src="{% static "images/discover.png" %}"></a></li>
                <li><a href="#"><img title="Master Card" alt="Master Card" src="{% static "images/master-card.png" %}"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- End Footer -->