{% load static from staticfiles %}
{% load menu %}
<header id="header" class="htc-header">
    <!-- Start Mainmenu Area -->
    <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header" style="background: rgba(246, 246, 248, 0.9) none repeat scroll 0 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-3 col-xs-3">
                    <div class="logo">
                        <a href="/">
                            <img src="{% static "images/logo/logo.png" %}" alt="logo" />
                        </a>
                    </div>
                </div>
                <!-- Start MAinmenu Ares -->
                <div class="col-md-8 col-lg-8 col-sm-6 col-xs-6">
                    <nav class="mainmenu__nav hidden-xs hidden-sm">
{#                        MENU_TAG#}
                        {% menu_block %}
                    </nav>
                    <div class="mobile-menu clearfix visible-xs visible-sm">
                        <nav id="mobile_dropdown">
                            <ul>
                                <li><a href="/">Главная</a></li>
                                <li><a href="#">О компании</a></li>
                                <li><a href="/">Главная</a></li>
                                <li class="drop"><a href="#">Продукция</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Покрывала</a></li>
                                        <li><a href="#">Одеяла</a></li>
                                        <li><a href="#">...</a></li>
                                    </ul>
                                </li>
                                   <li><a href="#">Полезная информация</a></li>
                                   <li><a href="#">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- End MAinmenu Ares -->
                <div class="col-md-2 col-sm-4 col-xs-3">
                    <ul class="menu-extra">
                        <li class="search search__open hidden-xs"><span class="ti-search"></span></li>
                        <li class="toggle__menu hidden-xs hidden-sm"><span class="ti-menu"></span></li>
                    </ul>
                </div>
            </div>
            <div class="mobile-menu-area"></div>
        </div>
    </div>
    <!-- End Mainmenu Area -->
</header>