{% load static from staticfiles %}
<!-- Header -->
  <header>
    <div class="header-container">
      {% include 'top-bar/bar.html' %}
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-xs-12">
            <!-- Header Logo -->
            <div class="logo"><a title="e-commerce" href="index.html"><img alt="e-commerce" src="{% static "images/logo.png" %}"></a> </div>
            <!-- End Header Logo -->
          </div>
          {% include 'top-menu/base.html' %}
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->