{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
<!-- Start Slider Area -->
<div class="slider__container slider--one">
    <div class="slider__activation__wrap owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <div class="slide slider__full--screen"
             style="background: rgba(0, 0, 0, 0) url({% static "images/slider/bg/banner_1920_800_1.png" %}) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                        <div class="slider__inner">
                            <h1>New Product <span class="text--theme">Collection</span></h1>
                            <div class="slider__btn">
                                <a class="htc__btn" href="#">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide slider__full--screen"
             style="background: rgba(0, 0, 0, 0) url({% static "images/slider/bg/banner_1920_800_0.png" %}) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="slider__inner">
                            <h1>New Product <span class="text--theme">Collection</span></h1>
                            <div class="slider__btn">
                                <a class="htc__btn" href="#">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
<!-- Start Slider Area -->
<!-- Start Our Product Area -->
<section class="htc__product__area ptb--130 bg__white">
    <div class="container">
        <div class="htc__product__container">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="product__menu">
                        <button data-filter="*" class="is-checked">Все</button>
                        <button data-filter=".cat--1">Пледы</button>
                        <button data-filter=".cat--2">Одеяла</button>
                    </div>
                </div>
            </div>
            <!-- End Product MEnu -->
            <div class="row">
                <div class="product__list another-product-style">
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{% static "images/product/1.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="#">Шерсть с попы дракона</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{%  static "images/product/2.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="#">Малазийский баран</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{%  static "images/product/3.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="#">Меринос</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{%  static "images/product/4.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a>#}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="product-details.html">Лен</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 cat--1 col-sm-4 col-xs-12 cat--1">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{%  static "images/product/5.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="#">Верблюжья шерсть</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{% static "images/product/6.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="#">Шерсть альпака</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 single__pro col-lg-3 col-sm-4 col-xs-12 cat--2">
                        <div class="product foo">
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="#">
                                        <img src="{%  static "images/product/7.png" %}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal" title="Быстрый просмотр"
                                               class="quick-view modal-view detail-link" href="#"><span
                                                class="ti-eye"></span></a></li>
{#                                        <li><a title="Add TO Cart" href="#"><span class="ti-shopping-cart"></span></a></li>#}
{#                                        <li><a title="Wishlist" href="#"><span class="ti-heart"></span></a></li>#}
                                    </ul>
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a href="#">Акрил</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Our Product Area -->
<!-- Start Blog Area -->
<section class="htc__blog__area bg__white pb--130">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section__title text-center">
                    <h2 class="title__line">Новинки</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog__wrap clearfix mt--60 xmt-30">
                <!-- Start Single Blog -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo">
                        <div class="blog__inner">
                            <div class="blog__thumb">
                                <a href="#">
                                    <img src="{% static "images/blog/blog-img/1.jpg" %}" alt="blog images">
                                </a>
                                <div class="blog__post__time">
                                    <div class="post__time--inner">
                                        <span class="date">14</span>
                                        <span class="month">sep</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__hover__info">
                                <div class="blog__hover__action">
                                    <p class="blog__des"><a href="#">Какойто текст.</a></p>
                                    <ul class="bl__meta">
                                        <li>By :<a href="#">Admin</a></li>
                                        <li>Product</li>
                                    </ul>
                                    <div class="blog__btn">
                                        <a class="read__more__btn" href="#">прейти к продукту</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog foo">
                        <div class="blog__inner">
                            <div class="blog__thumb">
                                <a href="blog-details.html">
                                    <img src="{% static "images/blog/blog-img/2.jpg" %}" alt="blog images">
                                </a>
                                <div class="blog__post__time">
                                    <div class="post__time--inner">
                                        <span class="date">14</span>
                                        <span class="month">sep</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__hover__info">
                                <div class="blog__hover__action">
                                    <p class="blog__des"><a href="#">Lorem ipsum dolor sit
                                        consectetu.</a></p>
                                    <ul class="bl__meta">
                                        <li>By :<a href="#">Admin</a></li>
                                        <li>Product</li>
                                    </ul>
                                    <div class="blog__btn">
                                        <a class="read__more__btn" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
                <!-- Start Single Blog -->
                <div class="col-md-4 col-lg-4 hidden-sm col-xs-12">
                    <div class="blog foo">
                        <div class="blog__inner">
                            <div class="blog__thumb">
                                <a href="#">
                                    <img src="{%  static "images/blog/blog-img/3.jpg" %}" alt="blog images">
                                </a>
                                <div class="blog__post__time">
                                    <div class="post__time--inner">
                                        <span class="date">14</span>
                                        <span class="month">sep</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog__hover__info">
                                <div class="blog__hover__action">
                                    <p class="blog__des"><a href="#">Lorem ipsum dolor sit
                                        consectetu.</a></p>
                                    <ul class="bl__meta">
                                        <li>By :<a href="#">Admin</a></li>
                                        <li>Product</li>
                                    </ul>
                                    <div class="blog__btn">
                                        <a class="read__more__btn" href="#">read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Blog -->
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->
{% endblock %}