{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
{#    {% include "index/home-section-slider.html" %}#}
    {% include "index/news-and-trands.html" %}
    {% include "index/featured-products.html" %}
    {% include "index/full-width-banner.html" %}
    {% include "index/special-promote.html" %}
    {% include "index/full-width-banner.html" %}
{#    {% include "index/best-sales.html" %}#}
{#    {% include  "index/last-news.html" %}#}
{#    {% include "index/services-global.html" %}#}
{% endblock %}
