{% extends "base.html"%}
{% load static from staticfiles %}
{% block content %}
<!-- Start Our Store Area -->
    <section class="htc__store__area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title section__title--2 text-center">
                        <h2 class="title__line">Таблица размеров</h2>
                        <p class="p-info">Полуторное одеяло (L) – подходит для одного человека. Классический размер — 140х205 см, также в продаже можно встретить модели с габаритами в диапазоне от 150х200 см до 160х210 см.</p>

                        <p class="p-info">Двуспальное (XL) – более комфортное по размеру изделие, подходит для семейных пар. Традиционный размер — 170х205 см</p>
                        <p class="p-info">Евро-стандарт (XXL) – улучшенное двуспальное одеяло большого размера 190х205 см. Очень удобное и просторное.</p>
                        <p class="p-info">Макси (XXXL)  - очень большого размера:230х205 см</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}