{% extends "base.html"%}
{% load static from staticfiles %}
{% block content %}
<!-- Start Our Store Area -->
    <section class="htc__store__area ptb--120 bg__white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section__title section__title--2 text-center">
                        <h2 class="title__line">К сожалению на сайте ведутся технические работы</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}