{% load static from staticfiles %}
<!-- Navbar -->
  <nav>
    <div class="container">
      <div class="row">
          {% include 'top-navigation-bar/mega-container.html' %}
        <div class="col-xs-9 col-sm-6 col-md-6 hidden-xs">
          <!-- Search -->
            {% include 'top-navigation-bar/search-bar.html' %}
          <!-- End Search -->
        </div>
        <!-- top cart -->
        {% include "top-navigation-bar/fast-cart.html" %}
      </div>
    </div>
  </nav>
  <!-- end nav -->