{% extends "base.html" %}
{% load static from staticfiles %}
{% block content %}
    <!-- Start Our ShopSide Area -->
    <section class="htc__shop__sidebar bg__white ptb--120">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                    <div class="htc__shop__left__sidebar">
                        <!-- Start Product Cat -->
                        <div class="htc__shop__cat">
                            <h4 class="section-title-4">КАТЕГОРИИ ТОВАРОВ</h4>
                            <ul class="sidebar__list">
                                <li><a href="#"> Лен<span>3</span></a></li>
                                <li><a href="#">Шесрть 100% <span>4</span></a></li>
                                <li><a href="#">Шерсть 85% <span>3</span></a></li>
                                <li><a href="#">Верблюжбя шерсть <span>6</span></a></li>
                                <li><a href="#">Для детей <span>10</span></a></li>
                                <li><a href="#">Меринос <span>3</span></a></li>
                                <li><a href="#">Новозелансдская шерсть <span>12</span></a></li>
                            </ul>
                        </div>
                        <!-- End Product Cat -->
                        <!-- Start Color Cat -->
                        <div class="htc__shop__cat">
                            <h4 class="section-title-4">ЦВЕТ / РИСУНОК</h4>
                            <ul class="sidebar__list">
                                <li class="black"><a href="#"><i class="zmdi zmdi-circle"></i>Зеленый<span>3</span></a>
                                </li>
                                <li class="blue"><a href="#"><i class="zmdi zmdi-circle"></i>Красный <span>4</span></a>
                                </li>
                                <li class="brown"><a href="#"><i class="zmdi zmdi-circle"></i>Синий <span>3</span></a>
                                </li>
                                <li class="red"><a href="#"><i class="zmdi zmdi-circle"></i>Жаккрад <span>6</span></a>
                                </li>
                                <li class="orange"><a href="#"><i class="zmdi zmdi-circle"></i>Коричневый
                                    <span>10</span></a></li>
                            </ul>
                        </div>
                        <!-- End Color Cat -->
                        <!-- Start Size Cat -->
                        <div class="htc__shop__cat">
                            <h4 class="section-title-4">РАЗМЕРЫ</h4>
                            <ul class="sidebar__list">
                                <li><a href="#">xl <span>3</span></a></li>
                                <li><a href="#">l <span>4</span></a></li>
                                <li><a href="#">lm <span>3</span></a></li>
                                <li><a href="#">ml <span>6</span></a></li>
                                <li><a href="#">m <span>10</span></a></li>
                                <li><a href="#">ml <span>3</span></a></li>
                            </ul>
                        </div>
                        <!-- End Size Cat -->
                        <!-- Start Tag Area -->
                        <div class="htc__shop__cat">
                            <h4 class="section-title-4">ТЭГИ</h4>
                            <ul class="htc__tags">
                                <li><a href="#">All</a></li>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Accessories</a></li>
                                <li><a href="#">Stationery</a></li>
                                <li><a href="#">Homelife</a></li>
                                <li><a href="#">Appliances</a></li>
                                <li><a href="#">Clothing</a></li>
                                <li><a href="#">Baby</a></li>
                                <li><a href="#">Beauty</a></li>
                            </ul>
                        </div>
                        <!-- End Tag Area -->
                    </div>
                </div>
                <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 smt-30">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="producy__view__container">
                                <!-- Start List And Grid View -->
                                <ul class="view__mode" role="tablist">
                                    <li role="presentation" class="grid-view active">
                                        <a href="#grid-view" role="tab" data-toggle="tab">
                                            <i class="zmdi zmdi-grid"></i></a></li>
                                    <li role="presentation" class="list-view"><a href="#list-view" role="tab"
                                                                                 data-toggle="tab"><i
                                            class="zmdi zmdi-view-list"></i></a></li>
                                </ul>
                                <!-- End List And Grid View -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% with  section.producttocatalog_set.all as products %}
                            <div class="shop__grid__view__wrap another-product-style">
                            <!-- Start Single View -->
                            <div role="tabpanel" id="grid-view"
                                 class="single-grid-view tab-pane fade in active clearfix">
                                {% for product in products %}
                                    <!-- Start Single Product -->
                                    <div class="col-md-4 col-lg-4 col-sm-4 col-xs-12">
                                        <div class="product">
                                            <div class="product__inner">
                                                <div class="pro__thumb">
                                                    <a href="{% url 'item.detail' item_code=product.product.pk %}">
                                                        <img src="{{ product.product.productimage_set.all.0.thumbnail.url }}"
                                                             alt="{{ product.product.title }}">
                                                    </a>
                                                </div>
                                                <div class="product__hover__info">
                                                    <ul class="product__action">
                                                        <li>
                                                            <a data-target="/quick/{{ product.product.pk }}"
                                                               title="Быстрый просмотр"
                                                               class="quick-view modal-view detail-link"
                                                               href="#"><span class="ti-eye"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product__details">
                                                <h2><a href="{% url 'item.detail' item_code=product.product.pk %}">{{ product.product.title }}</a>
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Single Product -->
                                {% endfor %}
                            </div>
                            <!-- Start Single View -->
                            <div role="tabpanel" id="list-view" class="single-grid-view tab-pane fade clearfix">
                                {% for product in products %}
                                    <!-- Start List Content-->
                                    <div class="single__list__content clearfix">
                                        <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12">
                                            <div class="list__thumb">
                                                <a href="{% url 'item.detail' item_code=product.product.pk %}">
                                                    <img src="{{ product.product.productimage_set.all.0.thumbnail.url }}"
                                                         alt="{{ product.product.title }}">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12">
                                            <div class="list__details__inner">
                                                <h2><a href="{% url 'item.detail' item_code=product.product.pk %}">{{ product.product.title }}</a></h2>
                                                <p>{{ product.product.description|truncatechars:300 }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End List Content-->
                                {% endfor %}
                            </div>
                            <!-- End Single View -->
                        {% endwith %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Our ShopSide Area -->
    <!-- QUICKVIEW PRODUCT -->
    <div id="quickview-wrapper">
        <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal__container" role="document">
                <div class="modal-content"></div>
            </div>
        </div>
    </div>
    <!-- END QUICKVIEW PRODUCT -->
{% endblock %}
{% block extend_script %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".detail-link").on('click', function (e) {
                var target = $(e.currentTarget);
                var url = target.data('target');
                $(".modal-content").html("");
                $.get(url).done(function (data) {
                    $('.modal-content').html(data);
                    $("#productModal").modal("show");
                })
            });
            $('.preview-box').owlCarousel({items: 1, loop: true, center: true});
        });
    </script>
{% endblock %}